@font-face {
  font-weight: 400;
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.ttf');
}

* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-250 {
  width: 250px;
}

.h1 {
  text-align: center;
}

.form {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 5px;

  background-color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-label {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}

.form-input {
  width: 250px;
  height: 38px;
  padding-left: 16px;
  border: solid 2px #dee3e4;
  border-radius: 3px;

  outline: none;
}

.form-input:hover {
  border: 2px solid #b5b5b5;
}

.form-input:focus {
  border: 2px solid #323131;
}

.form-submit {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 14px 0;

  border: none;
  border-radius: 3px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 18px;
  letter-spacing: 2px;

  text-transform: uppercase;

  background-color: #ee3643;

  cursor: pointer;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #ca2c37;
}

.form-submit:active {
  background-color: #ba2732;
}

.error {
  margin: 0;

  color: #ef0e1e;
  font-size: 12px;
  font-family: inherit;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.input-error {
  border: 2px solid red;
}
